@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  }

  a {
    text-decoration: none;
  }

  body{
    background-color: #F7F8FC;
    margin: 0;
    padding: 0;
  }

  /* color */
  
  .tomato-color{
    color: tomato;
  }
  
  .text-color{
    color: rgb(60, 60, 60);
  }

  /* HEADINGS */
  
  h1 {
    color: #fff;
    text-align: center;
    line-height: 1.4;
  }
  
  h1 {
    font-size: 2.2rem;
  }
  /*
  h2 {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  
  */
  
  
  /* BASIC SETUP */

  .divider{
    margin: 10px;
    background-color: rgba(55, 87, 130, 0.65);
    width: 65%;
    height: 1px;
    -webkit-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.56);
      -moz-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.56);
      box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.56);
  }

  .section-title{
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.4;
    margin: 20px auto;
  }

  .section-p{
    font-size: 1.1rem;
    text-align: center;
  }

  .page-wrapper{
    width: 100%;
    height: 3000px;
  }

  .grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
  }

  @-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


  /* HEADER */

  .header{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 55px;
    z-index: 1;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F7F8FC;
    -webkit-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.56);
      -moz-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.56);
      box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.56);
  }

  .brand{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .brand a img{
    height: 35px;
    width: auto;
  }

  .navbar{
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
  }

  nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-item{
    margin: 0 10px;
  }

  .nav-item a{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-item a i{
    font-size: 16px;
    margin-right: 5px;
    color: rgb(60, 60, 60, .7);
  }

  .nav-item a{
    position: relative;
    font-size: 14px;  
  }

  .nav-item a:hover::after{
    transform: scaleX(1);
  }

  .nav-item a:after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: tomato;
    transition: transform 0.3s;
  }

  .user-nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  .user-nav-item{
    margin: 0 10px;
  }

  .user-nav-item a{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: 0.3s;
  }

  .user-nav-item a:hover::after{
    transform: scaleX(1);
  }

  .user-nav-item a:after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: rgb(60, 60, 60, .3);;
    transition: transform 0.3s;
  }

  .user-nav-item a i{
    font-size: 16px;
    margin-right: 5px;
  }

  .headline {
    width: 100%;
    height: 50vh;
    min-height: 350px;
    background-image: url("../image/bg-index.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .search-form form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

  .headline-search {
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: 4px; /* FOR SAFARI */
    outline: 0;
    padding: 17px;
    width: 50%;
    height: 45px;
  }

  .headline-btn {
    padding: 13px;
    margin: 0 5px;
    width: 80px;
    background-color: tomato;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }

  /* School Types */

  .school-types{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    margin-bottom: 30px;
  }

  .school-type-card-block{
    display: flex;
    margin: 0 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 15px 45px -12px rgba(0,29,147, .15);
}

.school-type-card-block img{
    width: 65px;
    height: auto;
}

.school-type-card-block .title{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-top: 20px;
    color: #10182F;
    color: rgb(60, 60, 60);
}

.school-type-card-block .title b{
    font-weight: 500;
    margin-right: 5px;
}

.school-type-card-block a{
  padding: 15px;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  margin-top: 20px;
  color: tomato;
  background-color: rgb(120, 120, 120, 0.1);
  border-radius: 12px;
  transition: .4s;
}

.school-type-card-block a:hover{
  background-color: rgb(120, 120, 120, 0.2);
}

/* Popular Schools In Yor Region */

.popular-schools-in-region{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background-color: #f7f8fc;
  background-image: url("../image/bg-popular-schools.svg");
  background-attachment: fixed;
  background-size: cover;
}

.popular-schools{
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  overflow: hidden;
  align-items: center;
}

.slide-navigation{
  display: none;
  justify-content: space-between;
  width: 1250px;
  position: absolute;
  top: 50%;
}

.slide-navigation i{
  font-size: 3.9rem;
  color: tomato;
  cursor: pointer;
}

.schools-card-block{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 270px;
  background-color: #fff;
  box-shadow: 0 15px 45px -12px rgba(0,29,147, .15);
}

.schools-card-block img{
  position: relative;
  width: 270px;
  height: auto;
  max-height: 200px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 7px;
}

.rate {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  padding: 7px;
  /*background-color: #f79640;*/
  background-color: #73ca14;
  border-radius: 5px;
  color: #fff;
}

.inner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
}

.school-name{
  font-size: 1rem;
  font-weight: 700;
  color: rgb(60, 60, 60);
}

.region{
  justify-content: flex-start;
  font-size: .8rem;
  color: rgb(60, 60, 60);
}

.facilities{
  margin-top: 10px;
}

.facilities ul li{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  color: rgb(60, 60, 60);
  font-size: .8rem;
}

.facilities ul li i{
  font-size: .9rem;
  margin: 3px;
  color: tomato;
}

.school-card-bottom{
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  
}

.comment-and-review-counts ul{
  display: flex;
  list-style: none;
}
.comment-and-review-counts ul li{
  display: flex;
  color: rgb(60, 60, 60);
  align-items: center;
  font-size: .8rem;
}

.comment-and-review-counts ul li i{
  font-size: .9rem;
  margin: 3px;
  color: rgb(60, 60, 60, .7);
}

.sec{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  padding: 2px;
  background-color: #2dc44d;
  border-radius: 7px;
  color: #fff;
}

/* free-consultancy" */

.free-consultancy{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: tomato;
}

.consultancy-icon{
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.consultancy-icon img{
  width: 85px;
  height: auto;
}

.consultancy-title{
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  line-height: 1.4;
  margin: 20px;
  font-weight: 700;
}

.consultancy-title p{
  font-size: .9rem;
  font-weight: 500;
}

.consultancy-action a{
  color: #fff;
  font-weight: 700;
  padding: 15px;
  background-color: rgba(55, 87, 130, 0.65);
  border-radius: 12px;
  transition: 0.4s;  
}

.consultancy-action a:hover{
  background-color: rgba(55, 87, 130, 0.95);
}

/* rehber blog */

.rehber-blog{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recent-blogs{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1160px;
}

.blog-card{
  display: flex;
  flex-direction: row;
  max-width: 520px;
  margin: 15px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 15px 45px -12px rgba(0,29,147, .15);
}
.blog-header{
  display: flex;
  flex-direction: column;
  position: relative;
}

.blog-header img{
  width: 170px;
  height: 100%;
  border-radius: 7px;
  object-fit: cover;
  margin: auto 0;
}

.blog-container{
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 5px;
  padding: 5px 5px;
  border-radius: 20px;
}

.blog-title{
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(60, 60, 60);
}

.blog-info{
  display: flex;
  width: 60%;
  justify-content: space-between;
  font-size: .7rem;
}

.created-date, .blog-comment-and-review{
  display: flex;
  align-items: center;
  color: rgb(60, 60, 60,);

}

.created-date i, .blog-comment-and-review i{
  font-size: .8rem;
  color: rgb(60, 60, 60, .7);
  margin: 3px;
}

.blog-description {
  margin: 10px 3px 3px 5px;
  font-size: .8rem;
  color: rgb(60, 60, 60);
}

.blog-action a{
  padding: 5px 5px;
  display: flex;
  width: 90px;
  align-items: flex-end;
  font-size: 0.8rem;
  color: tomato;
  background-color: rgb(120, 120, 120, 0.1);
  border-radius: 7px;
  transition: .4s;
}

.blog-action a:hover{
  background-color: rgb(120, 120, 120, 0.2);
}

/* most-searched-regions-by-users */

.most-searched-regions-by-users{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.most-searched-regions{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1160px;
}

.regions-card{
  display: flex;
  position: relative;
  border-radius: 10px;
  margin: 10px;
}

.regions-card img{
  width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.searched-region-area{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 10px;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(255,255,255,0.16) 100%);
}

.searched-region{
  display: flex; 
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 1rem;
}

/* Consultancy Form */

.consultancy-form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.form-area{
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 15px 45px -12px rgba(0,29,147, .15);
}

form ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.consultancy-form-item{
  width: 300px;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgb(60, 60, 60, .7);
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  color: rgb(60, 60, 60);
}

.form-area ul li input:focus{
  outline-style: none;
}

.form-area ul li select, textarea{
  outline-style: none;
  color: rgb(60, 60, 60);
}


.form-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  padding: 20px;

}

.form-title{
  font-size: 1.4rem;
  font-weight: 700;
}

.form-title p{
  font-size: .9rem;
  font-weight: 400;
}

.form-steps ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}

.form-steps ul li{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  margin: 20px;
  color: rgb(60, 60, 60);
}

.form-steps ul li span{
  color: rgb(60, 60, 60, .7);
  margin-right: 8px;
  font-size: 1rem;
}

.textarea{
  min-width: 300px;
  min-height: 70px;
  max-height: 70px;
  max-width: 300px;
}

.frm-btn{
  height: 50px;
  width: 180px;
  border: none;
  background-color: rgb(120, 120, 120, 0.1);
  border-radius: 12px;
  color: tomato;
  font-weight: 700; 
  transition: .4s;
  outline-style: none;
}

.frm-btn:hover{
  background-color: rgb(120, 120, 120, 0.2);
}

/* schools-with-last-comment */

.schools-with-last-comment{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
}

.last-comment-schools{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1160px;
}

/* Footer */

.footer{
  margin-top: 20px;
  padding: 55px;
  border-top: 1px solid rgb(60, 60, 60, .2);
  background-color: #fff;
  box-shadow: 0 10px 76px -12px rgba(#001D93, .1);
}

.footer-top{
  display: flex;
  flex-direction: column;
}

.footer-bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.f-copyright{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: rgb(60, 60, 60);
  font-size: .7rem;
  margin-top: 20px;
}

.footer-top img{
  height: 25px;
  width: 128px;
}

.footer-menu{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1600px;
}

.footer-popular-region{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-right: 1px solid rgb(60, 60, 60, .2);
  margin: 10px 5px;
}

.footer-most-searched{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-right: 1px solid rgb(60, 60, 60, .2);
  margin: 10px 15px;
}

.footer-scholarship-exam{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
}

.f-title{
  color: rgb(60, 60, 60);
  font-weight: 700;
  margin: 10px auto;
}

.f-content ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.f-content ul li{
  width: 50%;
}

.f-content ul li a{
  text-decoration: none;
  color: rgb(60, 60, 60);
  font-size: .8rem;
}

.f-info ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.f-info ul li{
  margin: 0 10px;
}

.f-info ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .7rem;
  color: rgb(60, 60, 60);
}

.f-info ul li a img{
  width: 14px;
  height: auto;
  margin: 5px;
}

.f-social ul{
  list-style: none;
  display: flex;
}

.f-social ul li a img{
  width: 18px;
  height: auto;
  margin: 0 10px;
}

.f-contact ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.f-contact ul li{
  margin: 0 10px;
}

.f-contact ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  color: rgb(60, 60, 60);
}
